body {
    --radius-s: 0px;
    --radius-m: 0px;
    --radius-l: 0px;
    --input-radius: 0px;
    --tab-radius-active: 0px;
    --checkbox-radius: 0px;
    --toggle-radius: 0px;
    --toggle-thumb-radius: 0px;
    --slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
    display: none;
}

svg * {
    stroke-linecap: square;
    stroke-linejoin: miter;
    rx: 0;
    ry: 0;
}

.menu {
    padding: var(--size-2-1);
}

.menu-item {
    padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
    margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

body {
    --font-text-theme: "PP Fragment Sans", sans;
}

/* Title styling */
body {
    --inline-title-font: "PP Fragment Serif", serif;
    --inline-title-size: 4rem;
    --inline-title-weight: 700;
}

.theme-dark {
    --background-primary: #18004f;
    --background-secondary: #220070;
}

.theme-light {
    --background-primary: #fff8ea;
    --background-secondary: #fcf1db;
}

.workspace-ribbon {
    background-color: #fdcee7;
    background-image: linear-gradient(105deg, #fdcee7 0%, #ebe0c2 50%);
}

.mod-vertical .workspace-tab-header-container {
    background-color: #d4ffb0;
    background-image: linear-gradient(241deg, #d4ffb0 0%, #fff8ea 48%);
}

.mod-top-left-space .workspace-tab-header-container {
    background-image: linear-gradient(35deg, #feffa2 0%, #fff5e2 48%);
}

.mod-left-split .workspace-tabs .workspace-leaf {
    background-image: linear-gradient(62deg, #8ec5fc 0%, #fcf1db 40%);
}

.sidebar-toggle-button.mod-left {
    background-color: #ffafd4;
    background-image: linear-gradient(315deg, #ffafd4 0%, #ff187f 100%);
}

.sidebar-toggle-button.mod-left .clickable-icon {
    color: white;
}
